

$font-color: #333333; /* Gris base*/
$link-color: #51aee3; /* Blau link */
$primary-color: #ed1c2e; /* Vermell*/
$secundary-color: #fbeb2e;/*Groc*/
$titles-color:#2d2d2d;

$body-background: #eeeeee;
$base-background: #ffffff;


$break-medium: 480px;
$break-large: 960px;

$font-stack: Verdana, Geneva, sans-serif;



$font-size: 12px;