@mixin linear-gradient($fallback, $args...) {
    background: $fallback;
    background: -o-linear-gradient($args); 
    background: -moz-linear-gradient($args); 
    background: -webkit-linear-gradient($args); 
    background: linear-gradient($args);
}
